{% extends 'layout.html.twig' %}

{% block content %}
    <div class="mb-20 grid place-items-center">
        <div class="shadow-black shadow-2xl w-2/5 mt-10 mb-10 mr-10 bg-black">
            <img class="" src="https://placehold.co/800x600?text=News" alt=""/>
            <div class="p-5">
                <a href="/users/{{ article.userId }}" class="">
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Published by: {{ article.author }}</p>
                </a>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ article.title|capitalize }}</h5>
                {% for i in range(1, 10) %}
                    <span class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ article.body|capitalize }}.</span>
                {% endfor %}
                <p class="mt-8 font-bold mb-3 text-gray-700 dark:text-gray-400">Comments ({{ comments|length }})</p>
                {% for comment in comments %}
                    <div class="mb-3 px-3 py-3 border-2">
                        <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
                            <span class="inline-block align-middle mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                     class="main-grid-item-icon"
                                     fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
                                <circle cx="12" cy="7" r="4"/>
                                </svg>
                            </span>
                            <span class="align-middle capitalize">{{ comment.name }}</span>
                            <span class="font-normal text-sm text-gray-600"> ({{ comment.email }})</span>
                        </p>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ comment.body|capitalize }}.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

